div {
  border: 1px solid green;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.headerLeft img {
  height: 100%;
  width: 100%;
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
}

nav ul li {
  display: flex;
  align-items: center;
}

.headerLeft h1 {
  color: rgb(155, 155, 155);
}

nav ul li:nth-child(-n+3) {
  border-right: 16px solid rgb(146, 224, 224);
}

.headerLeft h1 span:first-child {
  color: rgb(74, 74, 74);
  font-weight: bold;
}

/* FIRST BLOCK */

.firstMain {
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.firstContent {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.contentBlock {
  margin: 32px 24px;
}

.imageBlock-1 {
  min-width: 60%;
}
.firstMain div img {
  min-width: 60%; /* images are hard... >.< */
}

.startButton {
  color: seashell;
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 8px 0px;
}

.secondMain {
  display: flex;

}

.secondRight {
  min-width: 40%;
  padding: 32px 0px;
}

.secondLeft {
  /*min-width: 60%;*/
  margin: 32px 24px;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 16px;
}

.box:first-child {
  padding-top: 0px;
}

.contentInBox {
  min-width: 65%;
}

.pictureInBox {
  min-width: 35%;
  margin-right: 16px;
  height: auto;
}
.pictureInBox img {
  min-width: 100%;
}

.box p {
  margin: 8px 0px;
}

.text-1 {
  margin-top: 32px;
}

.text-1 p {
  margin: 24px 0px; /* I could make this easier for sure... */
}

.thirdMain h1 {
  text-align: center;
  /*margin: 32px 0px;*/
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 72px 32px 72px;
}

.calalogBox {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.calalogBox img {
  max-width: 100%;
}
