/*div {
  border: 1px solid green;
}*/

/* FONT-RULES */

a {
  text-decoration: none;
  font-family: Assistant, sans-serif;
}

.contentInBox a {
  color: #4b91e2;
}

header a {
  color: #545454;
}

footer a, footer h4 {
  color: #777777;
}

.thirdMain p, .foMain p {
  color: #777777;
}

.secondMain p {
  color: #4f4f4f;
}

h1, h2, h3, h4 {
  color: #4a4a4a;
  font-family: Assistant, sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  font-family: Assistant, sans-serif;
  font-weight: 300;
}

.startButton h3 a {
  color: seashell;
  font-weight: 400;
}

.firstContent h1, .thirdMain h1, .text-1 h1, .foMain h1 {
  font-size: 3.9rem;
  font-weight: 800;
}

.firstContent h2, .videoBlock h2 {
  font-size: 2rem;
  font-weight: 700;
}

.contentInBox a, {
  font-family: Assistant, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.catalogText h3 {
  font-weight: 400;
  color: #777777;
}

.text-1 h3 {
  font-weight: 600;
}

/* HEADER */

.iconsHeader {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
  align-items: center;
  font-family: Assistant, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.headerLeft img {
  height: 100%;
  width: 100%;
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
}

nav ul li {
  display: flex;
  align-items: center;
}

.headerLeft h1 {
  color: rgb(155, 155, 155);
  font-size: 1.2rem;
}

nav ul li:nth-child(-n+3) {
  border-right: 16px solid rgb(146, 224, 224);
}

.headerLeft h1 span:first-child {
  color: rgb(74, 74, 74);
  font-weight: bold;
}

.headerLeft h1 span:last-child {
  font-weight: 600;
}

/* FIRST BLOCK */

.firstMain {
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.firstContent {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 28%;
}

.contentBlock {
  margin: 32px 24px;
}

.firstMain .imageBlock-1 {
  width: 60%;
  margin: 32px 0px 32px 24px;
}

.imageBlock-1 {
  width: 100%;
}

.firstMain div img {
  width: 100%; /* images are hard... >.< */
}

.startButton {
  color: seashell;
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 8px 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* SECOND BLOCK */

.mobilePicture {
  display: none;
}

.secondMain {
  display: flex;
  background-color: #f3f5f5;
}

.secondRight {
  width: 40%;
  padding-bottom: 32px;
  margin-top: 5px;
  border-left: 1px solid #d8d8d8;
  }


.secondLeft {
  width: 60%;
  margin: 32px 24px;

}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 16px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-left: 1px;
}

.box:first-child {
  padding-top: 27px;
  margin-bottom: 3px;
  border-top: none;
}

.box-1:first-child {
  padding-top: 16px;
}

.contentInBox {
  width: 65%;
  margin-left: 16px;
}

.contentInBox h2, .catalogText h2 {
  font-size: 2rem;
}

.pictureInBox {
  width: 35%;
  margin-right: 16px;
  height: auto;
}
.pictureInBox img {
  width: 100%;
}

.box p {
  margin: 8px 0px;
}

.text-1 {
  margin-top: 32px;
}

.text-1 p {
  margin: 24px 0px; /* I could make this easier for sure... */
}

.secondRight .container .box:last-child {
  margin-left: 0px;
  background-color: #d8d8d8;
}


/* THIRD BLOCK */

.thirdMain {
  background-color: #eaebec;
}

.thirdMain h1 {
  text-align: center;
  padding: 32px 0px 18px 0px;
}

.catalog {
  display: flex;
  justify-content: center;
  /*align-items: center; !!! Was only making it bit worse... !!! */
  flex-wrap: wrap;
  margin: 0px 72px;
  padding-bottom: 32px;
}

.calalogBox {
  margin: 18px 18px;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  background-color: white;
}

.calalogBox img {
  max-width: 100%;
}

/*.catalogText h2 {
  margin: 16px 0px 8px 0px;
}*/

.catalogText h3 {
  margin: 8px 0px;
}

.catalogText {
  padding: 16px 0px 24px 16px;
}

/* 4th BLOCK */

.foMain h1 {
  text-align: center;
  padding: 32px 0px;
}

.foMain {
  background-color: #f3f5f5;
}

.videoBlock {
  width: 60%;
  margin: 0px 24px 24px 24px;
}

.videoBlock h2 {
  margin: 24px 0px 8px 0px;
}

/*.videoBlock {
  min-width: 100%;
}*/

.foBlock {
  display: flex;
}

.foContent {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.foContent .container .box:first-child {
  background-color: #d8d8d8;
}

.foContent .box {
  border: none;
}

/* Footer */

footer {
  height: 64px;
  background-color: #f3f5f5;
}

.footerblock {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0px 24px;
}

.footerLinks {
  display: flex;
  flex-wrap: nowrap;
}

.footerLinks h4 {
  margin-left: 16px;
}


/* MOBILE VERSION */

@media only screen and (max-width: 480px) {

    .headerLeft, nav {
      display: none;
    }

    .firstMain {
      flex-direction: column;
      align-items: baseline;
    }

    .firstContent {
      margin-left: 0px;
      max-width: none;
      padding: 32px 0px;
    }

    .firstMain .imageBlock-1 {
      width: auto;
      margin: 0px;
    }

    .secondLeft {
      display: none;
    }

    .secondRight {
      width: auto;
    }

    .box {
      flex-direction: column;
      border: none;
      align-items: baseline;
    }

    .catalog {
      flex-direction: column;
      margin: 0px;
    }

    .calalogBox {
      max-width: 100%;
    }

    .calalogBox img, .catalogText h3, .catalogText p {
      display: none;
    }

    .foContent {
      display: none;
    }

    .videoBlock {
      width: 100%;
      margin: 0px;
    }

    .videoBlock h2, .videoBlock p {
      display: none;
    }

    .footerLinks {
      display: none;
    }

    .contentBlock {
      margin: 18px 16px;
    }

    .firstContent h1, .thirdMain h1, .text-1 h1, .foMain h1 {
      font-size: 3rem
    }

    .startButton {
      background-color: rgb(155, 155, 155);
    }

    .startButton h3 a {
      font-weight: 700px;
    }

    .secondRight .container .box:last-child {
      background-color: rgba(0, 0, 0, 0); /* How can i exclude rules like that...? "None" value didn't worked on that. */
    }

    .thirdMain {
      background-color: rgb(245, 244, 245);
    }

    .catalogText {
      background-color: rgb(216, 216, 216);
    }

    .thirdMain h1, .foMain h1 {
      border-top: 1px solid rgba(216, 216, 216);
    }

    .iconsHeader {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .startButton h3 a {
      color: white;
    }

    .desktopPicture {
      display: none;
    }

    .mobilePicture {
      display: block;
    }

    .pictureInBox {
      width: auto;
    }

    .contentInBox {
      margin-top: 16px;
    }
}
